main {
  display: block;
  margin: auto;

  .book_area {
    display: flex;
    border-style: solid;
    border-color: #e7e7e7;
    border-width: 5px;
    margin-top: 2px;
    background-color: #f8f8f8;

    img {
      display: block;
      padding: 5px;
      max-width: 140px;
      max-height: 230px;
    }

    .book_data {
      display: block;
      max-width: 48%;
    }
  }

  .merge_panel {
    display: flex;
    margin-top: 2px;
    border-style: solid;
    border-width: 5px;
    border-color: #e7e7e7;
    background-color: #f8f8f8;

    a {
      margin: auto;

      img {
        width: 50px;
      }
    }
  }
}
